@use '../globals' as *;
@use '../parts/common' as *;

.header {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  display: flex;
  padding: 0 4%;
  width: 100%;
  margin: 0 auto;
  max-width: 960px;

  @include mq(md) {
    align-items: center;
  }
    
    
  @include mq(lg) {
    max-width: 960px;
  }
  &__img {
    max-width: 120px;
    padding: 10px 0;
  }
  &__ul {
    list-style: none;
    display: flex;
    padding: 10px 0;
    font-size: .9rem;
  }
  &__li {
    margin-left: 30px;
  }
}

.hero {
  text-align: center;
  margin-bottom: 87px !important;

  & > img {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
    @media screen and (max-width:600px) {
      height: calc(100vh - 60px);
    }
  }
}
.about {
  text-align: center;
  padding: 0 4%;

  &__title {
    @extend .mb-sm;
    font-size: 2rem;
    display: inline-block;
    border-bottom: solid 1px #383e45;
  }
  &__content {
    margin-bottom: 100px !important;
    margin: 0 auto;
    max-width: 530px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    @include mq(md) {
      flex-direction: row;
  }
  }
  &__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 0; 
    @include mq(md) {
      margin-right: 30px; 
    }
  }
  &__text {
    text-align: left;
  }
  &__name {
    font-size: 1rem;
    margin: 10px 0;
  }
}

.bicycle {
  text-align: center;


  &__title {
    margin-bottom: 45px !important;
    font-size: 2rem;
    display: inline-block;
    border-bottom: solid 1px #383e45;
  }
  &__container {
    width: 90%;
    margin: 0 auto;
    @extend .flex;
    justify-content: space-between;
    @include mq(md) {
        width: 960px;
        padding: 0 4%;
      }
    }
    &__item {
      width: 100%;
      @include mq(md) {
        width: 32%;
        justify-content: space-between;
      } 
  }
  &__text {
    margin: 13px 0;
  }
  &__name {
    margin: 10px 0;
  }
  &__img {
    & > img {
      object-fit: cover;
      object-position: center;
      max-width: 100%;
      margin: 10px 0;
    }
  }

}

.footer {
  padding: 100px 0 15px 0;
  &__copyright {
    font-size: .5rem;
    text-align: center;
  }
}


